.icons > * {
  margin: 0px 10px;
}

.user-profile {
  background-color: transparent;
  border: none;
  color: gray;
}

li .dropdown-menu {
  cursor: pointer;
}

.user-label {
  color: white;
  margin-top: 8px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
