.trip {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 25px 25px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-width: 300px;
  max-width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip p {
  margin: 6px 0px;
}

.trip nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(200, 200, 200);
  border-width: 1px 0px 0px 0px;
  padding-top: 10px;
  margin-top: 20px;
  width: 100%;
}

.more-info {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  color: rgb(0, 0, 192);
}

.trip header {
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgb(200, 200, 200);
  border-width: 0px 0px 1px 0px;
  padding-bottom: 20px;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.trip-button {
  border: none;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 0px 5px;
  user-select: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.trip-add-button {
  background-color: rgb(153, 249, 153);
}

.trip-remove-button {
  background-color: rgb(249, 153, 153);
}

.reserved {
  position: absolute;
  top: -100px;
  right: -100px;
  background-color: rgb(90, 90, 255);
  color: white;
  height: 200px;
  width: 200px;
  font-size: 25px;
  transform: rotate(45deg);
}

* {
  user-select: none;
}

.reserved > div {
  transform: rotate(-45deg) translateY(300%) translateX(-13%);
}

.reserved-hidden {
  display: none;
}

.trip-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.trip-info p {
  margin: 0;
  background-color: #ff6d6d;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
}

.remove-trip-from-list {
  background-color: #ff6d6d;
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.trip-image {
  max-width: 80%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-top: 30px;
  cursor: pointer;
}

.most-expensive-trip {
  border: 4px solid green;
}

.cheapest-trip {
  border: 4px solid red;
}

.sold-out-trip {
  background-color: #e2e2e2;
  opacity: 0.8;
}
